@use "sass:color";
@use "sass:map";
@use "sass:math";
@import "utils";
@import "constants";

@function colorValue($identifier) {
  @return var(--#{$identifier})
}

@function color($type, $accessor: "base") {
  @return var(--#{$type}-#{$accessor});
}

@function colorContrast($type, $accessor: "base") {
  @return var(--#{$type}-#{$accessor}-contrast);
}

@function gradient($color) {
  $inputRange: strip-unit(floor((100 - ceil(color.lightness($color))) * 0.1));
  $schema-gradient: (
    50: color.change($color, $lightness: 95%),
  );
  @for $i from 1 through 9 {
    @if ($inputRange == $i) {
      $schema-gradient: map.merge(
          $schema-gradient,
          ($i * 100: $color)
      )
    } @else {
      $schema-gradient: map.merge(
          $schema-gradient,
          (
            $i * 100: color.change($color, $lightness: 100% - 10% * $i),
          )
      );
    }
  }
  @return $schema-gradient;
}

@function contrasts($colors, $white: white, $black: black) {
  $contrasts: ();
  @each $key, $gradient in $colors {
    $contrasts: map.merge($contrasts, ($key: contrast($gradient, $white, $black)))
  }
  @return $contrasts;
}

@function contrast($color, $white: white, $black: black) {
  $lightContrast: contrastRatio($color, $white);
  $darkContrast: contrastRatio($color, $black);

  @if ($lightContrast > $darkContrast) {
    @return white;
  } @else {
    @return black;
  }
}

@function luminance($color) {
  $red: nth($linear-channel-values, red($color) + 1);
  $green: nth($linear-channel-values, green($color) + 1);
  $blue: nth($linear-channel-values, blue($color) + 1);

  @return .2126 * $red + .7152 * $green + .0722 * $blue;
}

@function contrastRatio($back, $front) {
  $backLum: luminance($back) + .05;
  $foreLum: luminance($front) + .05;
  @return math.max($backLum, $foreLum) / math.min($backLum, $foreLum);
}
