@use "sass:map";
@use "sass:string";

@mixin typography($primary, $secondary){
  :root {
    --primary-font: #{$primary};
    --secondary-font: #{$secondary};
    font-family: #{$primary};
  }
}

@function typo($type){
  @return var(--#{$type}-font);
}


