<!--[if !mso]><!-->
<meta http-equiv='X-UA-Compatible' content='IE=Edge' />
<!--[if (gte mso 9)|(IE)]>
<xml>
  <o:OfficeDocumentSettings>
    <o:AllowPNG />
    <o:PixelsPerInch>96</o:PixelsPerInch>
  </o:OfficeDocumentSettings>
</xml>
<![endif]-->
<!--[if (gte mso 9)|(IE)]>
<style type='text/css'>
  body {
    margin: 0 auto;
  }

  table {
    border-collapse: collapse;
  }

  table, td {
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
  }

  img {
    -ms-interpolation-mode: bicubic;
  }
</style>
<![endif]-->
