<style>
  body {
    background: #cccccc;
    font-family: {{styles.fontFamily}};
  }
  #wrapper {
    width: 600px;
    padding: 48px 0 32px;
    background-color: white;
  }
  .cta {
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color .3s;
  }
  .color-1 {
    color: {{styles.color1}}
  }
  .color-2 {
    color: {{styles.color2}}
  }
  .bkg-1 {
    background-color: {{styles.bkg1}}
  }
  .bkg-1:hover {
    background-color: {{styles.bkg1hover}}
  }
  .bkg-1-contrast {
    color: {{styles.bkg1contrast}}
  }
  .bkg-2 {
    background-color: {{styles.bkg2}}
  }
  .bkg-2:hover {
    background-color: {{styles.bkg2hover}}
  }
  .bkg2-contrast {
    color: {{styles.bkg2contrast}}
  }
</style>
