<mat-form-field
  (focusout)="hidePasswordHint()"
  [appearance]="to.appearance"
  [color]="to.color"
  [floatLabel]="to.floatLabel"
  [hideRequiredMarker]="true"
  [style.width]="'100%'"
>
  <mat-label *ngIf="to.label && to.hideLabel !== true">
    {{ to.label }}
    <span
      *ngIf="to.required && to.hideRequiredMarker !== true"
      class="mat-form-field-required-marker"
      >*</span
    >
  </mat-label>

  <input
    #passwordField
    [formControl]="formControl"
    [formlyAttributes]="field"
    [id]="id"
    [placeholder]="to.label || ''"
    [readonly]="to.readonly"
    [tabindex]="to.tabindex || 0"
    autocomplete="current-password"
    matInput
    type="password"
  />

  <mat-icon
    (click)="togglePasswordVisibility()"
    [ngClass]="{ 'toggle-password--toggled': toggled }"
    class="toggle-password"
    matSuffix
    >remove_red_eye
  </mat-icon>
  <mat-icon
    (click)="togglePasswordHint()"
    *ngIf="hasHintDialog"
    [ngClass]="{
      'toggle-password--toggled': openedDialog,
      'toggle-password--error': formControl.dirty && formControl.invalid
    }"
    class="toggle-password"
    matSuffix
    >help_outline
  </mat-icon>

  <mat-error>
    <formly-validation-message [field]="field"></formly-validation-message>
  </mat-error>

  <mat-hint *ngIf="to.description">{{ to.description }}</mat-hint>
</mat-form-field>
