<ngx-file-drop
  class="drop-files__drop-zone"
  [dropZoneClassName]="'drop-file__drop-zone--external'"
  [contentClassName]="'drop-file__content--external'"
  (onFileDrop)="dropped($event)"
>
  <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
    <section class="drop-files__content">
      <p class="drop-files__content-text">{{ contentText }}</p>
      <button mat-flat-button color="primary" type="button" (click)="openFileSelector()">
        {{ buttonText }}
      </button>
    </section>
  </ng-template>
</ngx-file-drop>
