:host {
  display: block;
  .image-container {
    img {
      width: 100%;
      height: 100%;
    }
    &.image-as-background {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      img {
        width: 0;
        height: 0;
      }
    }

  }
}
