<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html data-editor-version='2' class='sg-campaigns' xmlns='http://www.w3.org/1999/xhtml'>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1' />
  {{>ie9}}
  {{>styles}}
  <style>
    h1, h2, h3, h4, h5, h6, p {
      text-align: center;
      margin: 0;
    }

    .scoped-column {
      max-width: 400px;
    }
  </style>
</head>
<body>
<center>
  <div id='wrapper'>
    <!-- Main Table: BEGIN -->
    <table>
      <tr>
        <td>
          <table>
            <!-- Logo: BEGIN -->
            <tr>
              <td class='scoped-column'
                  style='text-align: center;height: 180px;vertical-align: top;'>
                <a href='{{header.homepage}}'><img src='{{header.logo}}' alt='{{header.logoAlt}}'
                                                   title='{{header.logoTitle}}'></a>
              </td>
            </tr>
            <!-- Welcome Message: BEGIN; Logo: END -->
            <tr>
              <td class='scoped-column'>
                <h1 class='color-2'
                    style='font-size: 56px; line-height: 56px; font-weight: 400; margin-bottom: 16px;'>{{welcomeSection.title}}</h1>
                <h2 class='secondary-color' style='font-size: 32px; font-weight: 100;'>
                  {{welcomeSection.subtitle}}
                </h2>
                <div style='margin-bottom: 32px;'></div>
              </td>
            </tr>
            <!-- CTA: BEGIN; Welcome Message: END -->
            <tr>
              <td class='scoped-column'>
                <p class='secondary-color' style='margin-bottom: 16px'>{{verificationSection.text}}</p>
                <p>
                  <a class='cta bkg-2 bkg-2-contrast'
                     href='{{verificationSection.link}}'>{{verificationSection.ctaText}}</a>
                </p>
                <div style='margin-bottom: 32px;'></div>
              </td>
            </tr>
            <!-- Footer: BEGIN -->
            <tr>
              <td class='scoped-column'>
                <p class='secondary-color'>
                  <small>Or copy this link and paste it in your browser</small>
                </p>
                <p class='secondary-color'>
                  <small><a href='{{verificationSection.link}}'>{{verificationSection.link}}</a></small>
                </p>
              </td>
            </tr>
            <!-- Footer: END -->
          </table>
        </td>
      </tr>
    </table>
    <!-- Main Table: END -->
  </div>
</center>
</body>
</html>
